*.tfplan
*.tfstate.*.backup
*.tfstate.backup
*.tfvars

!gce-*/instance-counts.auto.tfvars

.env
.envrc
.ruby-version
.terraform/
/tmp/
assets/*.tar.bz2
aws-*/config/
crash.log
debug.tmp
gce-*/config/
build-*/config/
graph.png
local-development-0/local-development-0.tfstate
macstadium-*/config/
tfstate
