[Unit]
Description=TFW Admin Clean Containers
After=travis-worker.service
Requires=travis-worker.service

[Service]
EnvironmentFile=/var/tmp/travis-run.d/travis-worker.env
ExecStart=/usr/local/bin/tfw admin-clean-containers
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
