[Unit]
Description=Travis Worker
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/travis-worker-wrapper
ExecStopPost=/bin/sleep 5
Restart=always
SyslogIdentifier=travis-worker
User=travis
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
